:root {
    --white:#fff;
    --gray:#333;
    --gray2:#ddd;
    --black:#000;
    --blue:#232370;
    --primary:#3A3F61;
    --secondary:#313553;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.map-container{
    height: 100vh;
    overflow:hidden;
    position: relative;
    font-size: 14px;
}

.side-tab {
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 40px;
    padding:0em;
    z-index: 2;
    background-color: transparent;
    color:var(--primary);
    /* box-shadow: 2px 8px 0.2em var(--gray); */
}

.tab-item {
    position: relative;
    color:var(--white);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--blue);
    background-color: #3a3f61c9;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0.5rem;
    margin:  0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-item:hover {
    background-color: var(--blue);
    color:white;
}

.tab-item .tooltip-text {
    visibility: hidden;
    min-width: 80px;
    width: 80px;
    background: var(--primary);
    color:var(--white);
    text-align: left;
    padding: 5px;
    border-radius: 6px;
    font-size: 0.8rem;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 5px;
    left: 105%;
    z-index: 2;
}

.tab-item:hover .tooltip-text {
    visibility: visible;
}


/*  */
.overlay-section {
    position: absolute;
    top:2%;
    left:41px;
    z-index: 2;
    background-color: #3a3f61c9;
    color:var(--white);
    width:auto;
    min-width: 150px;
    padding:0.5rem;
}


.close-btn {
    position: absolute;
    top:4%;
    right:4%;
    cursor: pointer;
    z-index: 1;
}
.overlay-section h2 {
    margin:0;
}


.overlay-section .toggle {
    margin-top: 0.375rem;
}

.filter-list div {
    margin-left:0.5rem;
}

.filter-list div > h4 {
    margin:0;
}

.timer-container {
    height:auto;
    position:absolute;
    bottom: 0;
    z-index: 1;
    left: 250px;
    color: var(--white);
    padding:0.5em;
    background-color: var(--gray);
    width: 80vw;
    box-shadow: 1px 2px 0.5em var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer-container {
    display: flex;
}

.timer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin:2px;
    text-align: center;
}

.info-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-section {
    margin: 0.2rem 0;
}

.info-section > div {
    padding:0.5rem;
}

.info-section h3 {
    background-color: var(--secondary);
    color:var(--white);
    text-align: left;
    padding: 0.25rem;
    font-size: 1rem;
}



#map {
    width:100vw;
    height:100vh;
    z-index: 0;
}

.mini-dashboard {
    width: 200px;
    position: absolute;
    bottom: 0px;
    height: auto;
    overflow-y: auto;
    left: 0%;
    z-index: 3;
    transition: all 0.5s;
    background-color: var(--primary);
    color:white;   
}

.mini-dashboard > p {
    margin:0.25rem;
    /* display: none; */
}

.count-section {
    display: flex;
    padding: 0.5rem 0 1rem 0rem;
    border-bottom: 1px solid var(--gray2);
}

.count-section > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-section > div h2 {
    margin:0;
    font-size: 2rem;
}

.chart-section {
    margin:0.5rem 0;
    border-bottom: 1px solid var(--gray2);
}

.chart-section p {
    margin:0;
    
}

.toggle-selection {
    display: flex;
    padding: 0 0.5rem;
}

.toggle-selection > div {
    cursor: pointer;
    background-color: var(--primary);
    border:1px solid var(--gray2);
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.toggle-selection > div.active {
    background-color: var(--gray2);
    color:var(--primary)
}

.legend-container{
    display: block;
}

.legend-container > p {
    margin:0;
}

.legend-item {
    display:  flex;
    padding:0 0.5rem;
    margin-bottom: 0.25rem;
}

.legend-item > p {
    margin:0;
}

.legend-item > div {
    padding:5px;
    width: 30px;
    height: 12px;
    margin-right:0.5rem;
}

.info-window {
    width: 300px;
    position: absolute;
    top: 0px;
    height: 100vh;
    overflow-y: hidden;
    right: 0%;
    z-index: 3;
    transition: all 0.5s;
    background-color: var(--primary);
    color:white;
}

.info-header {
    text-align: center;
    border-bottom: 1px solid var(--gray2);
    padding:0.5rem;
    position: relative;
}

.close-sidebar.close-btn {
    top:14%;
}

.info-header h2 {
    margin:0;
}


.info-body {
    padding:0.25rem;
    height: 95vh;
    overflow-y: auto;
}

.info-body .media {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 190px;
    background-color: var(--white);
}

figure {
    margin:0;
    width: 100%;
}

figure img {
    width:290px !important;
}

figure figcaption {
    color: var(--black);
    font-size: 0.8rem;
}

.info-item {
    display: flex;
    font-size: 0.8rem;
    margin:0.5rem 0;
    flex-direction: column;
}

.info-item b {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.info-footer {
    position: absolute;
    bottom: 0;
    background-color: var(--gray);
    height: 20px;
}

.legend-section {
    position:absolute;
    top: 0%;
    left:0;
    padding:0.75rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    height: 100vh;
    overflow-y: auto;
    width: 250px;
    z-index: 1;
    background-color: var(--gray);
    box-shadow: 1px 2px 0.5em var(--black);
    color: var(--white);
}

.legend-item {
    display: flex;
    align-items: center;
}

/* mapboxgl */
.mapboxgl-marker {
    cursor: pointer;
}
.div-marker div {
    cursor: pointer;
    background-color: transparent;
    border: 6px solid white;
    /* border-top: none; */
    border-color: transparent transparent blue transparent;
}

.div-marker img {
    width: 30px;
    height: 30px;
}

.mapboxgl-popup {
    z-index: 2;
    width: 250px;
}

.mapboxgl-popup-content {
    padding:0 !important;
    font-size: 1rem;
}

.popup-content .popup-title {
    background-color:var(--blue);
    padding: 3px 10px 3px 4px;
    color:var(--white);
}

.popup-content .popup-entry {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px;
    font-size:0.8rem;
    line-height: 1;
}

.mapboxgl-popup-close-button {
    font-size: 1.5em;
    color:var(--white);
}

.mapboxgl-marker {
    cursor:  pointer;;
}

/* page loader */
.page-loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1050;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-loader .spinner {
    border-radius: 50%;
    border: 4px solid white;
    border-color: white var(--blue) var(--blue);
    padding:0.25em;
    width:30px;
    height: 30px;
    animation: spin 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* utility classes */
.d-none {
    display: none !important;
}

@media screen {
    
}